*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: hsl(218, 23%, 16%);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width:600px;
    background-color: hsl(217, 19%, 24%);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 20px 0px hsl(219, 18%, 10%);
}

.container .adviceid{
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin:20px 0;
    font-weight: 800;
}

.container #quote {
    color: hsl(193, 38%, 86%);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 30px;
}
.container div{
    margin-bottom: 30px;
}
.container div img{
    width: 100%;
}
#generatebtn{
    display: flex;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: hsl(150, 100%, 66%);
    border: none;
    padding: 15px;
    border-radius: 50%;
    outline: none;
    transition: all 0.5s ease-in-out;
}

#generatebtn:hover{
    box-shadow: 0px 0px 20px 5px hsl(150, 100%, 66%);
}

@media screen and (max-width:550px){
    .container{
        width: 350px;
    }
}

